extends layout

block content
  .featured-container
    h1 Featured Playlists
    ul.featured

  .playlist-container
    h1.playlist-name
    ol.playlist

  .controls-container
    .play-pause
      i.fa.fa-play.center.active
      i.fa.fa-pause.center
    .skip-backward
      i.fa.fa-backward.center
    .skip-forward
      i.fa.fa-forward.center
    .track-info-container
      .track-info.center
        span.track-name
        br
        span.artist-name
    .volume-container
      .volume-controls.center
        i.fa.fa-volume-off
        input(type="range").volume
        i.fa.fa-volume-up

  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js')
  script(src='vendor/SM2/script/soundmanager2-jsmin.js')
  script window.accessToken = '#{accessToken}'
  script(src='javascripts/track.js')
  script(src='javascripts/playlist.js')
  script(src='javascripts/views/playlist.js')
  script(src='javascripts/views/featuredPlaylistItem.js')
  script(src='javascripts/views/featuredPlaylists.js')
  script(src='javascripts/player.js')
