extends layout

block content
  .playlist-container
    h1 Current Playlist
    h2.playlist-name
    ol.playlist

  .featured-container
    h2 Featured Playlists
    ul.featured

  .player-container
    .play-pause.clickable
      i.fa.fa-play.center.active
      i.fa.fa-pause.center
    .skip-backward.clickable
      i.fa.fa-backward.center
    .skip-forward.clickable
      i.fa.fa-forward.center
    .track-info-container
      .track-info.center.truncate
        span.track-name
        br
        span.artist-name
    .volume-container
      .volume-controls.center
        i.fa.fa-volume-off
        input(type="range").volume
        i.fa.fa-volume-up

  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js')
  script(src='vendor/SM2/script/soundmanager2-nodebug-jsmin.js')
  script.
    window.app = {
      beatsBaseUrl: 'https://partner.api.beatsmusic.com/v1/api/',
      clientId: 'rwrwapvr4jng2jvp6aeem5wa',
      accessToken: '#{accessToken}'
    };
  script(src='javascripts/track.js')
  script(src='javascripts/playlist.js')
  script(src='javascripts/views/playlist.js')
  script(src='javascripts/views/featuredPlaylistItem.js')
  script(src='javascripts/views/featuredPlaylists.js')
  script(src='javascripts/views/player.js')
  script(src='javascripts/main.js')
