html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.featured-container, .playlist-container {
  float: left;
  height: calc(100% - 80px);
  padding-left: 2%;
  padding-right: 2%;
  overflow-y: auto;
}

.featured-container {
  width: 45%;
  float: right;
}

.playlist-container {
  width: 55%;
}

.player-container {
  clear: both;
  height: 80px;
  border-top: 1px solid #FF0078;
  font-size: 24px;
}

.player-container > div {
  float: left;
  height: 100%;
  position: relative;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

i {
  padding-left: 12px;
  padding-right: 12px;
}

.play-pause i {
  display: none;
}

.play-pause .active {
  display: inline-block;
}

.play-pause, .skip-backward, .skip-forward {
  width: 5%;
}

.track-info-container {
  width: 65%;
  position: relative;
}

.volume-container {
  width: 20%;
}

.volume-controls {
  width: 215px;
}

.featured {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.featured li {
  display: inline-block;
  margin: 2px;
}

.track-info {
  text-align: center;
}

.playlist {
  list-style: none;
  padding: 0;
  counter-reset: counter;
}

.playlist li {
  padding: 8px;
}

.playlist .active {
  color: #FF0078;
}

.playlist li:before {
  content: counter(counter, decimal-leading-zero);
  counter-increment: counter;
  margin-right: 1em;
}

.playlist li:hover {
  background: #ccc;
  cursor: pointer;
}
